.Menu {
text-decoration: none;
color: white;

}
.margininferior{
    margin-bottom: 30px;
}
.marginsuperior{
    margin-top: 80px;
}
.insta {
text-decoration: none;
}
.carrinho{
    background-color: transparent;
    border: transparent;
}
.Compra{
    background-color: transparent;
    border: transparent;
}
.input{
    color: black !important; 
    background-color: white !important;
    display: inline !important;
    width: auto !important;
}

.fixo{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999 !important;
}

.footer{
    text-align: center !important;
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100 !important;
    color: black !important;
}
.Cadastro{
    text-decoration: none ;
    color: white;
}

.larguraImg{
    max-width: 100%;
}

.Alex{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5dAqhsaREEhnBOsix_tkEDy3n5Qn_9qC4RA&usqp=CAU');
}

.finalizar{
    margin-top: 15px;
  
}

.FinalizarPedidocompra{
    padding-bottom: 7px;
}